.tablero {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'sidebar main';
}

.tablero__menu {
    padding: 1em;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Temporal */
    border-right: 2px solid #eeeeee3d;
    .lista__item {
        border: 1px solid #fff0;
            .item--link {
            color: #fff;
        }
    }
}

.tablero__main {
    grid-area: main;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__acciones {
    .lista__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item--link {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    /* Iconos SVG */

    .item__icono {
        .svg__forma {
            stroke: #fff;
            transition: fill 3s ease;
        }
        .svg__forma--exepcion {
            stroke: none;
            fill: #2f9e44;
        }
    }

    /* Hover effects subelementos */

    .lista__item:hover {
        border-color: #4caf4f;
        border-radius: 10px;
        cursor: pointer;
        color: #4caf4f;
    }
    .lista__item:hover .item--link {
        color: #4caf4f;
    }
    .lista__item:hover .item__icono .svg__forma {
        stroke: #4caf4f;
        .svg__forma--exepcion {
            stroke: none;
            fill: #fff;
        }
    }
}

.menu__chats {
    .chats__lista {
        max-height: 33vh;
        /* TEMPORAL AUTO-SCROLL */
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .lista__item {
            padding: 5px;
            border: 1px solid #333;
        }

        /* Hover effects */
        .lista__item:hover, .item:hover {
            background-color: #4caf4f;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}


.menu__perfil {
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-template-areas:
        "icono nombre"
        "configuracion configuracion"
        "cerrar cerrar";
    align-items: center;
}

.perfil__icono {
    grid-area: icono;
    font-size: 24px;
}

.perfil__nombre {
    grid-area: nombre;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.perfil__enlace {
    padding: 2px;
    text-align: center;
    border: 1px solid #fff0;
}

.perfil__enlace:hover {
    color: #4caf4f;
    border-color: #4caf4f;
    border-radius: 5px;
}

.perfil__enlace--configuracion {
    grid-area: configuracion;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.perfil__enlace--cerrar {
    grid-area: cerrar;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}


/* Estilos del formulario */

.main__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenido__titulo {
    font-size: 60px;
    margin-bottom: 20px;
}

.contenido__formulario {
    width: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: "label label"
                         "input boton";
    justify-items: center;
}

.formulario__label {
    grid-area: label;
    font-weight: bold;
}

.formulario__input {
    grid-area: input;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formulario__boton {
    width: 100%;
    padding: 10px;
    grid-area: boton;
    background-color: var(--color-acento);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario__boton:hover {
    background-color: var(--color-acento-hover);
}